@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print {
    display: none !important;
  }

  @page {
    size: landscape;
    margin: 0.5cm;
    margin-top: 0;
    margin-bottom: 0;
  }

  body,
  .bg-gray-50,
  .bg-gray-100 {
    background: white !important;
  }

  table {
    font-size: 6px;
  }

  th,
  td {
    white-space: nowrap;
    vertical-align: top;
  }

  th:last-child,
  td:last-child {
    white-space: normal;
  }
}
